<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>true일 때만 표시하는 예</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <label><input type="checkbox" v-model="myVisible"></label>
    <p v-if="myVisible">체크박스가 ON</p>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        myVisible: false
      }
    })
  </script>
</body>
</html>