<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>선택한 라디오 버튼을 표시하는 예</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <label><input type="radio" value="red" v-model="picked">적</label><br>
    <label><input type="radio" value="green" v-model="picked">녹</label><br>
    <label><input type="radio" value="blue" v-model="picked">청</label><p></p>
    {{ picked }} 이 선택됨
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        picked: 'red' // red를 입력하면 라디오 버튼에 "적"이 선택된 상태로 시작
      }
    })
  </script>
</body>
</html>